*.user
Output
.vs
PrecompiledHeaderGenerator.exe

VisualStudioProjectFileCreatorFrom2017.exe

VisualStudioProjectFileCreatorFrom2022.exe

SourceFileUpdaterMITCopyright.exe

JetByteTools/CoreTools/Test/CoreToolsTest.log

JetByteTools/ThirdPartyCode/GoogleTest/gmock

JetByteTools/ThirdPartyCode/GoogleTest/gtest
